.container {
    margin-top: 10px;
    background-color: #FBFBFB;
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: center;
    align-items: center;
}

h2 {
    color: #016d38;
    font-family: "RobotoCondensedBold";
    margin-top: 0px;
    margin-bottom: 0px;
}

p {
    font-family: "RobotoCondensedRegular";
    color: #1B1B1B;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    border: none;
    background: #ffdc5d;
    color: #016d38;
    box-shadow: none;
    font-family: "RobotoCondensedBold";
    width: fit-content;
}

input {
    font-family: "RobotoCondensedRegular";
    width: 370px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
}

.alert {
    font-family: "RobotoCondensedRegular";
    font-size: 12px;
    color:#ee2828;
}

h3 {
    font-family: "RobotoCondensedBold";
    color: #1B1B1B;
    margin-top: 0px;
    margin-bottom: 0px;
}

h4 {
    font-family: "RobotoCondensedBold";
    color: #1B1B1B;
    margin-top: 0px;
    margin-bottom: 0px;
}

.row-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: fit-content;
    height: fit-content;
}

.emergency-btns {
    display: flex;
    justify-content: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.col-subscription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 420px;
}

.emergencies {
    margin: 5px;
    display: block;
}

/* This two properties are set to override fonts from dropdown menu label and items */
:host ::ng-deep .p-dropdown-label {
    font-family: "RobotoCondensedRegular";
    width: 330px;
}

:host ::ng-deep .p-dropdown-item {
    font-family: "RobotoCondensedRegular";
}