.container {
    background-color: #FBFBFB;

}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header {
    width: fit-content;
}

#btn {
    display: flex;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 15px;
    width: 500px;
    align-items: center;
}

.form-services {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: fit-content;
}

h2 {
    color: #016d38;
    font-family: "RobotoCondensedBold";
    margin-top: 0px;
    margin-bottom: 0px;
}

h3 {
    font-family: "RobotoCondensedBold";
    color: #1B1B1B;
    margin-top: 0px;
    margin-bottom: 0px;
}

p {
    color: #1B1B1B;
    font-family: "RobotoCondensedRegular";
    margin:  5px;
}

#lastUpdateInfo {
    margin: 0px;
}

small {
    display: block;
    font-family: "RobotoCondensedRegular";
}

.alert {
    font-family: "RobotoCondensedRegular";
    font-size: 12px;
    color:#ee2828;
}

input {
    font-family: "RobotoCondensedRegular";
    width: 230px;
}

label {
    font-family: "RobotoCondensedRegular";
    color: #1B1B1B;
    font-size: 15px;
}

button {
    border: none;
    background: #ffdc5d;
    color: #016d38;
    box-shadow: none;
    font-family: "RobotoCondensedBold";
    width: fit-content;
}

.field-checkbox {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-top: 5px;
}

/* This two properties are set to override fonts from dropdown menu label and items */
:host ::ng-deep .p-dropdown-label {
    font-family: "RobotoCondensedRegular";
    width: 190px;
}

:host ::ng-deep .p-dropdown-item {
    font-family: "RobotoCondensedRegular";
}
